.fa-circle {
    font-size: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; 
    margin-bottom: 10px;
    color: rgb(11, 179, 11);
}

.col-2 {
  border: .5px solid #ffffff;
  outline-style: solid;
  outline-color: #ffffff;
  margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px; 
    margin-bottom: 5px;

}
html, body {
    height: 90%;
    
  }
  #map {
    height: 100%;
    
    
  }

  .content {
      box-sizing: border-box;

  }
  .row {
    display: flex;
    flex-wrap: wrap;
    
    margin: 10px;
  }

  .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(34, 42, 66, 0.05);
    border-radius: 0.2857rem;
  }
  .card-category {
font-size: 20px;
  }
  .card-title {
    font-weight: 0px;
  }