<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Welcome to the Admin Dashboard</h2>
                    <p>Here you can see an overview of your transport.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=transportDash>
    <div class="container">
        <div class=dashboardTitle>
            <h1 class=mt-4>
                Transport Overview
            </h1>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 text-center">
                <i onclick="showDogModal(this)" class="far fa-circle"></i>
            </div>
            <div class="col-2 text-center">
                <i onclick="showDogModal(this)" class="far fa-circle"></i>
            </div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-2 text-center"><i onclick="showDogModal(this)" class="far fa-circle"></i></div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<div class="transportDash">
    <div class="container">
        <div class="dashboardTitle">
            <form>
                <div class="form-group">
                    <label for="start">Start</label>
                    <input type="text" class="form-control" id="start" placeholder="Start(A)">
                </div>
                <div class="form-group">
                    <label for="end">End</label>
                    <input type="text" class="form-control" id="end" placeholder="End(B)">
                </div>

                <button type="button" class="btn btn-primary" onclick="initMap()">Submit</button>
            </form>
            <div style="width: auto; height: 500px;">


                <div id="map">


                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/dashboard.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXkxWJKkoaeLWUKdICQOxx0JtOVtZIqFE&callback=initMap">
</script>