<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fas fa-paw fa-3x"></i></h1>
      <h1>pet<strong>net</strong></h1>
      <p>Please login below</p>
      <a href="/users/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>
